@mixin default-header {
    height: 10vh;
    min-height: 80px;
    background-color: var(--theme-back-color);
    border-bottom: 4px solid var(--theme-color);
    box-shadow: 0 2px 8px var(--theme-color);
}
