<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/AdminPanel/bootstrap-5/css/bootstrap.min.css" />
    <link href="~/AdminPanel/bootstrap-5/js/bootstrap.min.js" />

    <link rel="stylesheet" href="~/AdminPanel/Capsnet/css/main.css" />
</head>
<body>    
    <div class="main">
        @await Html.PartialAsync("_Header")

        @await Html.PartialAsync("_Sidebar")

        @RenderBody()
    </div>
</body>
</html>
