<div class="sidebar-menu">
    <ul>
        <li>
            <a href="#">
                <span class="menu-icon"></span>
                <span class="menu-title">Home</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="menu-icon"></span>
                <span class="menu-title">Com1</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="menu-icon"></span>
                <span class="menu-title">Com2</span>
            </a>
        </li>
    </ul>
</div>